<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipes</title>
</head>
<body>
    <h1>Recipe List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Ingredients</th>
                <th>Instructions</th>
                <th>Cooking Time</th>
                <th>Difficulty Level</th>
                <th>Rating</th>
                <th>Number of Ratings</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${recipes}">
                <td th:text="${recipe.title}"></td>
                <td th:text="${recipe.ingredients}"></td>
                <td th:text="${recipe.instructions}"></td>
                <td th:text="${recipe.cookingTime} + ' mins'"></td>
                <td th:text="${recipe.difficultyLevel}"></td>
                <td th:text="${recipe.averageRating}"></td>
                <td th:text="${recipe.numberOfRatings}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
